<footer class="main-footer text-light clearfix " role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
  <div class="container-fluid">
  	<div class="row">
  		<div class="col-12 col-md-10 offset-md-1 border-top gutters-off-md pt-2 pb-3">
  			<div class="col-12 col-md-6 gutters-off text-center text-md-left float-left small">
  				<p>{{ site.copyright }}</p>
  			</div>
		    <div class="col-12 col-md-6 gutters-off text-center text-md-right float-right small">
		    	<p>Stay in touch:
            <small>
              <a target="_blank" class="btn btn-sm btn-outline-light ml-1 text-uppercase" href="https://www.facebook.com/events/1942783996035932/">Facebook</a>
              <a class="btn btn-sm btn-outline-light ml-1 text-uppercase" href="mailto:info@seriousmonkey.it">info@seriousmonkey.it</a>
            </small>
  				</p>
  			</div>
		    {% comment %}<a href="#" class="btn-scrolltotop btn btn-primary position-fixed"></a>{% endcomment %}
  		</div>
  	</div>
  </div>
</footer>
