---
layout: home
title: 'SeriousMonkey: evento SEO curato da Enrico Altavilla, 22 e 23 maggio 2018 a Milano'
description: SeriousMonkey è il nuovo evento di formazione SEO curato da Enrico Altavilla e dedicato a strategie SEO e SEO tecnica.
body_class: s-home
---



{% include home/hero.html %}
{% include home/target.html %}
{% include home/topic.html %}
{% include home/location.html %}
{% include home/program.html %}
{% include home/party.html %}
{% include home/tickets.html %}
{% include home/faq.html %}
{% include home/mailing-list.html %}
{% comment %}{% include home/splash-screen.html %}{% endcomment %}
