---
layout: default
---

<section class="module">
  <div class="container-fluid">
    <div class="row d-block">
      <div class="col-12 col-md-9 float-right">
        {{ content }}
      </div>
      <div class="col-12 col-md-3 float-left">
        <div class="list-group">

            <a class="list-group-item" href="/bootstrap/alerts/">
            Alerts
            </a>


            <a class="list-group-item" href="/bootstrap/badge/">
            Badge
            </a>


            <a class="list-group-item" href="/bootstrap/breadcrumb/">
            Breadcrumb
            </a>


            <a class="list-group-item" href="/bootstrap/buttons/">
            Buttons
            </a>


            <a class="list-group-item" href="/bootstrap/button-group/">
            Button group
            </a>


            <a class="list-group-item" href="/bootstrap/card/">
            Card
            </a>


            <a class="list-group-item" href="/bootstrap/carousel/">
            Carousel
            </a>


            <a class="list-group-item" href="/bootstrap/collapse/">
            Collapse
            </a>


            <a class="list-group-item" href="/bootstrap/dropdowns/">
            Dropdowns
            </a>


            <a class="list-group-item" href="/bootstrap/forms/">
            Forms
            </a>


            <a class="list-group-item" href="/bootstrap/input-group/">
            Input group
            </a>


            <a class="list-group-item" href="/bootstrap/jumbotron/">
            Jumbotron
            </a>


            <a class="list-group-item" href="/bootstrap/list-group/">
            List group
            </a>


            <a class="list-group-item" href="/bootstrap/modal/">
            Modal
            </a>


            <a class="list-group-item" href="/bootstrap/navs/">
            Navs
            </a>


            <a class="list-group-item" href="/bootstrap/navbar/">
            Navbar
            </a>


            <a class="list-group-item" href="/bootstrap/pagination/">
            Pagination
            </a>


            <a class="list-group-item" href="/bootstrap/popovers/">
            Popovers
            </a>


            <a class="list-group-item" href="/bootstrap/progress/">
            Progress
            </a>


            <a class="list-group-item" href="/bootstrap/scrollspy/">
            Scrollspy
            </a>


            <a class="list-group-item" href="/bootstrap/tooltips/">
            Tooltips
            </a>

        </div>
      </div>
    </div>
  </div>
</section>
