<section id="faq" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Frequently asked questions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 class="mb-1">Che cosa ottengo, iscrivendomi?</h3>
        <p>Se acquisti il biglietto per accedere all'evento a Milano, potrai partecipare come spettatore ad entrambe le giornate di SeriousMonkey e riceverai successivamente anche le slide e le registrazioni video dell'intero evento.
Se invece acquisti la "Poltrona virtuale", cioè la diretta video in streaming, potrai seguire l'evento in diretta su Internet e riceverai successivamente anche le slide e le registrazioni video dell'intero evento.</p>
        <h3 class="mb-1">Che cos'è la "Poltrona virtuale"?</h3>
        <p>E' la diretta video streaming dell'intero evento, che ti mostrerà sia i relatori sia le loro slide come se tu fossi seduto in prima fila! Se non puoi venire a Milano, acquista la "Poltrona virtuale" e alcuni giorni prima dell'evento ti verrà inviata una mail contenente un link ad una pagina web e una password per accedere. Durante le due giornate di SeriousMonkey potrai visitare questa pagina web col tuo browser per goderti il video in HD con la diretta dell'evento.</p>
        <h3 class="mb-1">Quando riceverò le slide e le registrazioni video dell'evento?</h3>
        <p>Alcuni giorni dopo la chiusura dell'evento ti verrà inviata una mail contenente un link per accedere alle slide degli interventi e alle registrazioni video.</p>
        <h3 class="mb-1">Offrite o organizzate un pranzo?</h3>
        <p>No, il pranzo è a carico tuo e devi organizzarti da te. Non improvvisare: è meglio se prenoti in anticipo in uno dei ristoranti di zona, altrimenti rischi di non trovare posto. Però ci sarà una pausa caffè (figa) ogni pomeriggio.</p>
        <h3 class="mb-1">Posso propormi come relatore?</h3>
        <p>Ci dispiace, ma purtroppo la Call for Speakers si è gia conclusa!</p>
        <h3 class="mb-1">Chi è Enrico Altavilla?</h3>
        <p>Enrico Altavilla è un consulente di search marketing col pallino della divulgazione SEO, che fa attraverso i social network, un blog, una newsletter e partecipando come relatore agli eventi del settore. SeriousMonkey è l'evento formativo 100% SEO organizzato e curato da lui.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-sm btn-primary" data-dismiss="modal">&times; Close</button>
      </div>
    </div>
  </div>
</section>
