<section id="location" class="module module--border clearifx">
  <div class="container-fluid">
    <div class="row d-block d-md-flex clearfix">
      <div class="illustration illustration--left col-12 col-md-6 gutters-off">
        <div class="illustration__characters">
          {% include components/img.html src='home/character-treasure.svg' class="d-block m-auto"  alt='Dove si svolgerà' %}
        </div>
      </div>
      <div class="text col-12 col-sm-8 offset-sm-2 col-md-4 offset-md-1 gutters-off-md text-center text-md-left reveal">
        <h2>Dove e quando si svolgerà</h2>
        <p class="text-big">SeriousMonkey si svolgerà il 22 e 23 maggio 2018 all’ <a target="_blank" class="font-weight-bold" href="https://www.google.it/maps/place/Michelangelo+Hotel/@45.4843004,9.2040063,17z/data=!3m1!4b1!4m5!3m4!1s0x4786c6c4c6e2532f:0xeae2b70a466c21d1!8m2!3d45.4843004!4d9.206195">Hotel Michelangelo di MILANO, in Piazza Luigi di Savoia 6</a> ma puoi seguire l'evento anche su Internet in <strong class="text-primary">diretta video streaming!</strong></p>
        <p class="d-none d-md-block">
        	{% include components/btn.html text='Leggi il programma dei due giorni' link='/#program' class='anchor-link' %}
        </p>
      </div>
    </div>
  </div>
</section>
