<section id="mailing-list" class="mailing-list clearifx">
  <div class="container-fluid">
    <div class="row">
      <div id="mc_embed_signup" class="mailing-list__signup col-12 col-xs-10 offset-xs-1 col-md-8 offset-md-2 gutters-off-md text-center">
        <h2 class="mailing-list__heading text-light">Se vuoi, iscriviti alla mailing list delle Novità SEO di Enrico Altavilla, per rimanere aggiornato su futuri eventi e iniziative di formazione e consulenza.</h2>


				<form class="form-inline d-block d-md-flex" action="https://Enricoaltavilla.us11.list-manage.com/subscribe/post?u=48a4f3a5d87bd8638ad10991c&amp;id=bed39bd839" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>


					  <div class="mc-field-group form-group d-block d-md-flex">
					    <input id="mce-EMAIL" type="email" value="" name="EMAIL" class="required email form-control border-0" placeholder="EMail">
					 	</div>

					 	<div class="mc-field-group form-group d-block d-md-flex">
					    <input id="mce-FNAME" type="text" value="" name="FNAME" class="required form-control border-0" placeholder="Nome">
					 	</div>

					 	<div class="mc-field-group form-group d-block d-md-flex">
					    <input id="mce-LNAME" type="text" value="" name="LNAME" class="required form-control border-0" placeholder="Cognome">
					  </div>


					  <input type="submit" value="Iscriviti" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary d-block text-uppercase">

					  <div class="mc-field-group form-check text-center mt-2">
					    <input id="mce-CONFIRM" value="" name="CONFIRM" type="checkbox" for="mce-CONFIRM" class="form-check-input required checkbox">
	    				<label class="form-check-label text-light" for="mce-CONFIRM">Dichiaro di aver letto e accettato l'Informativa sulla Privacy<a class="btn btn-sm btn-outline-light ml-1" target="_blank" href="//www.iubenda.com/privacy-policy/79190766">Apri l'Informativa sulla Privacy</a></label>
					  </div>


						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_48a4f3a5d87bd8638ad10991c_bed39bd839" tabindex="-1" value=""></div>

				</form>


      </div>
    </div>
  </div>
</section>


