<section id="party" class="module module--border clearifx">
  <div class="container-fluid">
    <div class="row d-block clearfix">
      <div class="illustration illustration--party col-12 col-md-6 gutters-off float-right">
        <div class="illustration__characters">
          <img class="d-block m-auto" src="{{ site.baseurl }}{{ site.img_path}}home/character-pirate-party.svg" alt="Quali argomenti verranno trattati">
        </div>
      </div>
      <div class="text col-12 col-sm-8 offset-sm-2 col-md-5 offset-md-1 gutters-off-md text-center text-md-left reveal">
        <h2>Festa di SeriousMonkey</h2>
        <p class="mb-1 text-big">La sera di martedì 22 maggio, vieni alla festa di SeriousMonkey! È tutta in <strong class="text-primary">stile piratesco</strong> e si terrà in uno dei migliori pub di Milano: "<a target="_blank" class="font-weight-bold" href="http://www.thefriendspubmilano.it/">The Friends Pub</a>". Il biglietto per la festa include la consumazione di una pietanza e una bevanda <a target="_blank" class="font-weight-bold" href="https://docs.google.com/document/d/1vuRzUTmnt1nFmg0Xn5xOTnTkkwFqYwNBO3KTno6EskM/edit?usp=sharing">da questo menu</a>.</p>
        <p class="d-none d-md-block">
          {% include components/btn.html text='E adesso iscriviti a SeriousMonkey!' class='anchor-link' link='/#tickets' %}
        </p>
      </div>
    </div>
  </div>
</section>
