<div class="splash-screen modal fade" id="splash-screen">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center text-light text-md-left">
        <div class="splash-screen__container">
          <div class="splash-screen__content m-auto">
            <div class="splash-screen__logo float-left">
              {% include components/img.html src='page/serious-monkey-logo-dark.svg' alt='SeriousMonkey' %}
            </div>
            <div class="splash-screen__claim float-left text-center text-md-left">
              Serious Shit for Serious SEO
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>