<section id="target" class="module module--border clearifx">
  <div class="container-fluid max-width-xs">
    <div class="row d-block d-md-flex clearfix">
      <div class="illustration illustration--left col-12 col-md-6 gutters-off">
        <div class="illustration__characters">
          {% include components/img.html class='d-block m-auto' src='home/character-capitan-shipboy.svg' alt='A chi è dedicato SeriousMonkey' %}
        </div>
      </div>
      <div class="text col-12 col-sm-8 offset-sm-2 col-md-4 offset-md-1 gutters-off-md text-center text-md-left reveal">
        <h2>A chi è dedicato SeriousMonkey</h2>
        <p><strong class="text-primary">SeriousMonkey</strong> è dedicato a chi svolge attività SEO e desidera imparare metodologie per fare SEO ancora meglio. La prima giornata affronta la SEO da un punto di vista strategico: valutare e pianificare prima di passare all'azione. La seconda giornata è dedicata a chi vuole apprendere e approfondire gli aspetti SEO più tecnici.</p>
        <p class="d-none d-md-block">
        	{% include components/btn.html text='Argomenti trattati' link='/#topic' class='anchor-link' %}
        </p>
      </div>
    </div>
  </div>
</section>
