<section id="tickets" class="tickets clearifx">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 gutters-off-md text-center">
{% comment %}          <div class="text" id="countdown-view" style="display:none">
            <p class="text-big mb-1">Le iscrizioni apriranno su questo sito<br>martedì 6 marzo 2018 alle ore 10:43</p>
            <div class="countdown clearfix mb-2">
              <div id="countdown" class="countdown__container"></div>
            </div>
            <p>
              {% include components/btn.html text='Ne voglio sapere di più' link='/#mailing-list' class='btn-lg anchor-link' %}
            </p>
          </div>
          <div class="text" id="eventbrite-view" style="display:none">
            <div style="width:100%; text-align:left;"><iframe src="https://eventbrite.com/tickets-external?eid=44214066463&ref=etckt" frameborder="0" height="445" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="https://www.eventbrite.com/">Powered by Eventbrite</a></div></div>
              {% include components/btn.html text='Ne voglio sapere di più' link='/#mailing-list' class='btn-lg anchor-link' %}
            </p>
          </div>{% endcomment %}
          <div class="col-12 gutters-off col-md-10 offset-md-1">
            <iframe class="tickets__iframe" src="https://eventbrite.com/tickets-external?eid=44214066463&ref=etckt" frameborder="0" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
            <p>
              {% include components/btn.html text='Ne voglio sapere di più' link='/#mailing-list' class='btn-lg anchor-link d-none d-md-block' %}
            </p>
          </div>
      </div>
    </div>
  </div>
</section>
